@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-brand: var(--color-red-500);
  --color-surface: var(--color-gray-950);
  --color-surface-light: var(--color-gray-900);
  --color-text: var(--color-white);
  --color-text-muted: var(--color-gray-400)
}

@layer base {
  body {
    @apply bg-surface text-text;
  }
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("./assets/fonts/InterVariable.woff2") format("woff2");
}

@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("./assets/fonts/InterVariable-Italic.woff2") format("woff2");
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(255 255 255 / 0.15) transparent;
}